.git
.gitignore

.env
.env.*

target/
build/

.idea/
.vscode/
*.iml
*.iws
*.ipr

.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

*.log
logs/

.DS_Store
Thumbs.db

HELP.md
README.md